body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color :forestgreen;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}

#start {
    background-color: #333;
    color:aliceblue;
    padding: 10px;
    font-size: large;
}

.container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: #333;
    border-radius: 15px;
    margin: 15px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color:#333
}

#end_bar {
    width: 90%;
}
#end {
    text-align: center;
}